*{
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}


#Titulo {
	background-color:#2D2929;
	height: 667px;
}

#Titulo h1{
	margin-top: 300px;
	color:#ED971D;
	text-align: center;
}
#SegundaPag{
	background-color:#2D2929;
	height: 667px;
}
#SegundaPag h1{
color:#ED971D;
text-align: center;
margin-top: 50px;
font-size: 50px;
}
 iframe{
	width: 100%;
	
}
.linea {
	width: 100%
}
.fa-square-o {
	color:#fff;
	
}
.linea i{
	font-size: 20px;
}
#cuadrado1{
	float: right;
	top:0px;
}
.barr{
	width: 50%;
	
}
.barr li a{
	background:#FADC4E;
	width: 100%;
}
.form-control{
	background-color: #E6FCA3;
}

#img1 img{
	width: 50%;
	height: 50%;


}


